<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.dartservice.recommendation.RecommendationMapper">

    <select id="findAll" resultType="com.ssafy.dartservice.recommendation.dto.StockInfo">
        SELECT stock_code AS stockCode, sector FROM stock_info
        WHERE sector != '금융'
    </select>

    <select id="findBySector" resultType="com.ssafy.dartservice.recommendation.dto.StockInfo">
        SELECT stock_code AS stockCode, sector FROM stock_info
        WHERE sector = #{sector}
    </select>

</mapper>
