<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.dartservice.stock.StockMapper">

    <insert id="insertStock">
        INSERT IGNORE INTO stocks (stock_code, stock_name, market, sector)
        VALUES (#{stockCode}, #{stockName}, #{market}, #{sector})
    </insert>

</mapper>